.signupPage input ,.signupPage button{
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: smaller;
    box-shadow: #6c757d 0px 10px 10px -5px;
}

.formheader{
    font-weight: 900;
  font-size: 20px;
  color:#000100;
}

.signupPage .navLink{
  color: #6c757d;
}

.signupPage .navLink:hover{
  color: #000000;
}

.signupPage button{
  font-weight: bold;
  background:#000000;
  color: white;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: #adb5bd 0px 20px 10px -15px;
  border: none;
}



.signupPage {
    padding-bottom: 70px;
    background-color: #dee2e6;
}
.signupPage .form1 {
    height: 560px; 
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #f8f9fa 100%);
    border-radius: 40px;
    padding: 10px 35px 130px 35px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: #6c757d 0px 30px 30px -20px;
    margin: 3px;
}





.part3 label li{
    margin-top: 30px;


}

